
.bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px
}

.bubble.bubble_default {
    background-color: rgba(114, 190, 255, 0.49)
}

.bubble:after, .bubble:before {
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "
}

.bubble.left:after, .bubble.left:before {
    right: 100%
}

.bubble.left:after {
    border-right-color: rgba(114, 190, 255, 0.49);
    border-right-width: 4px
}

.bubble.right:after, .bubble.right:before {
    left: 100%
}

.bubble.right:after {
    border-left-color: #fff
}

.bubble.bubble_primary {
    background-color: #b2e281
}

.bubble.bubble_primary.left:after {
    border-right-color: #b2e281;
    border-right-width: 4px
}

.bubble.bubble_primary.right.arrow_primary:before, .bubble.bubble_primary.right:after {
    border-left-color: #b2e281;
    border-left-width: 4px
}

.bubble.bubble_primary.right.arrow_primary:after {
    border-left-color: #fff;
    border-left-width: 4px;
    margin-left: -2px
}

.bubble.no_arrow:after, .bubble.no_arrow:before {
    display: none
}

.bubble.fill {
    padding: 0
}

.bubble.fill img {
    display: block;
    cursor: pointer
}

.bubble_hd {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 7px;
    margin-bottom: 5px
}

.bubble_primary .bubble_hd {
    border-bottom: 1px solid #75bf50
}

.bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px
}

.bubble_cont li {
    overflow: hidden;
    color: #888
}

.bubble_cont img {
    vertical-align: middle;
    margin-bottom: 2px;
    max-width: 100%;
}

.bubble_cont .plain {
    padding: 9px 13px
}

.bubble_cont .plain .ico_loading {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -7px;
    margin-right: 13px
}

.bubble_cont .plain .ico_fail {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -11px;
    margin-right: 9px;
    cursor: pointer
}

.bubble_cont .voice {
    padding: 7px 13px;
    width: 150px;
    max-width: 300px;
    cursor: pointer;
    position: relative
}

.bubble_cont .voice:after {
    display: block;
    content: "";
    clear: both
}

.bubble_cont .voice .duration {
    position: absolute;
    right: -77px;
    width: 55px;
    color: #888;
    cursor: default
}

.bubble_cont .voice .duration i {
    margin-left: 5px
}

.bubble_cont .voice .flag {
    position: absolute;
    right: -53px
}

.bubble_cont .app {
    padding: 7px 13px;
    background-color: #fff;
    margin: 2px;
    display: block;
    overflow: hidden;
    text-decoration: none;
    max-width: 300px;
    min-width: 250px
}

.bubble_cont .app .title {
    font-weight: 400;
    margin-bottom: 10px;
    color: #333
}

.bubble_cont .app .cover {
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 10px
}

.bubble_cont .app .desc {
    overflow: hidden;
    color: #888;
    max-height: 5em;
    word-break: break-all
}

.bubble_cont .card {
    padding: 7px 13px;
    margin: 2px;
    background-color: #fff;
    width: 250px;
    cursor: pointer;
    position: relative
}

.bubble_cont .card .card_hd {
    border-bottom: 1px dotted #dedede;
    margin-bottom: 10px;
    padding: 0 7px
}

.bubble_cont .card .card_avatar {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    padding-right: 10px
}

.bubble_cont .card .card_avatar .img {
    width: 44px;
    height: 44px;
    /*border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px*/
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.bubble_cont .card .info {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    width: 2000px
}

.bubble_cont .card .info .display_name {
    font-weight: 400;
    font-size: 14px
}

.bubble_cont .card .info .signature {
    font-size: 14px;
    color: #888
}

.bubble_cont .card:after {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    z-index: 99;
    border: 7px solid transparent;
    border-left-color: #fff
}

.bubble_cont .picture {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
    position: relative
}

.bubble_cont .picture img {
    display: block;
    cursor: pointer;
    max-width: 350px;
    max-height: 240px
}

.bubble_cont .picture .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5
}

.bubble_cont .picture .loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px
}

.bubble_cont .luckmoney {
    background-color: #fa9d3b;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative
}

.bubble_cont .luckmoney:after {
    position: absolute;
    content: "";
    top: 10px;
    left: -14px;
    z-index: 99;
    border: 7px solid transparent;
    border-right-color: #fa9d3b
}

.bubble_cont .luckmoney .cover {
    float: left;
    margin-right: 10px
}

.bubble_cont .luckmoney .cover .img {
    width: 40px;
    height: 60px
}

.bubble_cont .luckmoney .cont {
    overflow: hidden
}

.bubble_cont .luckmoney .cont .title {
    font-weight: 400;
    color: #fff
}

.bubble_cont .luckmoney .cont .desc {
    color: #fff
}

.bubble_cont .luckmoney_bd {
    overflow: hidden;
    padding: 10px
}

.bubble_cont .luckmoney_ft {
    background-color: #fff;
    padding: 5px 0;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    overflow: hidden
}

.bubble_cont .luckmoney_ft p {
    color: #888;
    padding-left: 10px
}

.bubble_cont .video {
    position: relative;
    cursor: pointer
}

.bubble_cont .video img {
    max-width: 200px;
    max-height: 150px
}

.bubble_cont .video .oim_chat_paly {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -27px
}

.bubble_cont .video .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5
}


.bubble_cont .video .loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px
}

.bubble_cont .microvideo .oim_chat_paly {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -27px
}

.bubble_cont .microvideo .loaded + .oim_chat_paly {
    display: none
}

.bubble_cont .plain .attach {
    padding: 10px;
    background-color: #fff;
    min-height: 75px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    min-width: 250px;
    max-width: 300px;
    margin: 2px;
    position: relative
}

.bubble_cont .plain .attach:after {
    display: none;
    content: "";
    position: absolute;
    top: 8px;
    right: -13px;
    z-index: 99;
    border: 7px solid transparent;
    border-left-color: #fff
}

.bubble_cont .plain .attach_bd .cover {
    display: table-cell;
    padding-right: 10px
}

.bubble_cont .plain .attach_bd .cont {
    display: table-cell;
    vertical-align: top
}

.bubble_cont .plain .attach_bd .cont .title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 200px
}

.bubble_cont .plain .attach_bd .cont .opr {
    margin-top: 25px
}

.bubble_cont .plain .attach_bd .cont .opr a {
    color: #35ac2f;
    text-decoration: none
}

.bubble_cont .reader {
    padding: 10px
}

.bubble_cont .reader .link {
    display: block;
    text-decoration: none;
    color: #000;
    width: 302px
}

.bubble_cont .reader .title {
    font-weight: 400
}

.bubble_cont .reader .date {
    color: #999
}

.bubble_cont .reader .cover {
    height: 160px;
    width: 300px;
    margin: 5px 0;
    border: 1px solid #e8e8e8
}

.bubble_cont .reader .more {
    margin-top: 10px;
    line-height: 30px;
    border-top: 1px solid #ddd
}

.bubble_cont .location {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.bubble_cont .location .img {
    width: 250px;
    height: 250px;
    display: block
}

.bubble_cont .location .desc {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    padding: 5px 10px
}


.right .bubble_cont .voice i {
    float: right
}

.right .bubble_cont .voice .duration {
    left: -80px;
    text-align: right
}

.right .bubble_cont .card:after {
    right: -13px
}

.right .bubble_cont .luckmoney:after {
    display: none
}

.right .bubble_cont .luckmoney:before {
    position: absolute;
    content: "";
    top: 10px;
    right: -14px;
    z-index: 99;
    border: 7px solid transparent;
    border-left-color: #fa9d3b
}

.emoticon {
    padding: 0 15px
}

.message {
    margin-bottom: 16px;
    float: left;
    width: 100%;
    padding: 6px 15px;
}

.message .avatar {
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;

    /*border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px;*/

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.message .nickname {
    font-weight: 400;
    padding-left: 10px;
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #4f4f4f;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.message .content {
    overflow: hidden
}

.message .custom_emoji {
    width: 60px
}

.message.right {
    float: right;
    text-align: right;
    clear: right
}

.message.right .avatar {
    float: right
}

.message.right .content {
    overflow: hidden
}

.message.first {
    margin-top: 10px
}

.message_empty {
    text-align: center;
    margin-top: 130px;
    color: #ccc;
    font-size: 13px
}

.message_system {
    text-align: center;
    margin: 10px auto;
    max-width: 50%
}

.message_system .content {
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
    color: #b2b2b2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.message_system .unread-content {
    position: relative;
    overflow: visible
}

.message_system .unread-content .line-left, .message_system .unread-content .line-right {
    height: 17px;
    width: 100px;
    position: absolute;
    border-top: 1px solid #b2b2b2;
    top: 9px
}

.message_system .unread-content .line-left {
    left: -112px
}

.message_system .unread-content .line-right {
    right: -112px
}


.at_wrp {
    outline: none;
    position: absolute;
    bottom: 100%;
    margin-bottom: 8px;
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dedede;
    background-color: #fff
}

.at_wrp:before {
    border: 7px solid transparent;
    border-top-color: #cfcfcf
}

.at_wrp:after, .at_wrp:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -7px
}

.at_wrp:after {
    margin-top: -1px;
    border: 7px solid transparent;
    border-top-color: #fff
}

.at {
    outline: none;
    width: 115px;
    padding: 10px 10px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    background-color: #fff
}

.at .item {
    margin-bottom: 10px;
    cursor: pointer
}

.at .item.on, .at .item:hover {
    background-color: #eee
}

.at:hover .item.on {
    background-color: transparent
}

.at:hover .item:hover {
    background-color: #eee
}

.at .avatar {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    padding-right: 10px
}

.at .avatar .img {
    display: block;
    width: 42px;
    height: 42px;
    /*border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px*/

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.at .info {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    width: 2000px
}

.at .info .nickname {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1
}


.message-attach {
    background-color: #5ceebb;
    overflow: hidden;
    position: relative;
}

.message-attach-icon {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    position: relative;
    width: 60px;
    height: 60px;
}

.message-attach-info {
    padding-left: 102px;
}

.message-attach-download {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    height: 1.5em;
}
