@import "oim.variables";

body {
    font-family: Roboto, sans-serif, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

body, html {
    height: 100%;
}

.main-page {
    height: 100%;
    width: 100%;
}

.main-inner {
    height: 100%;
    width: 100%;
}

.main-background-image {
    height: 100%;
    margin: 0 auto;
    background: url(../../images/common/b.png) no-repeat 50%;
    background-size: cover
}

.main-background-color {
    background-color: $oim-main-background-color !important;
}

.oim-sidebar {
    float: left;
    width: 50px;
    height: 100%;
    color: #f4f4f4;
    background-color: $oim-main-tab-color !important;
    //background-color: #242b36;
    //filter: alpha(Opacity=80);
    //-moz-opacity: 0.8;
    //opacity: 0.8;
}

.oim-sidebar-tab {
    //margin-top: 30px;
    //height: 100%;

    .q-tabs {
        padding-top: 30px;
    }

    .q-tab__icon {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }

    .q-tab__content {
        height: 55px;
    }

    .q-badge {
        top: 7px;
        right: -3px;
    }
}

.oim-sidebar-more {
    font-size: 24px;
    width: 50px;
    text-align: center;
    bottom: 0;
    padding-bottom: 20px;
    position: absolute;

    .icon-warp {
        margin-top: 10px;

        i {
            cursor: pointer;
        }

        i:hover {
            color: #dedddd;
        }
    }
}

.oim-main-nav-pane {
    position: relative;
    width: 280px;
    height: 100%;
    float: left;
    background: #ececec;
    border-right: 1px solid #d9d9d9;
}


.oim-main-personal-info {
    overflow: hidden;
    padding: 20px 18px 18px;
    /*border-bottom: 1px solid #647481;*/

    position: relative
}

.oim-main-personal-info.active .ext, .oim-main-personal-info.active .info .msg {
    color: #181818
}

.oim-main-personal-info .avatar {
    float: left;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.oim-main-personal-info .avatar .img {
    display: block;
    width: 40px;
    height: 40px;
    /*border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px*/
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.oim-main-personal-info .avatar .icon {
    position: absolute;
    top: -6px;
    right: -6px;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    text-align: center
}

.oim-main-personal-info .info {
    overflow: hidden
}

.oim-main-personal-info .info .nickname {
    font-weight: 400;
    font-size: 13px;
    color: #0a0a0a;
    line-height: 20px
}

.oim-main-personal-info .info .nickname-text {
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.oim-main-personal-info .info .nickname_count, .oim-main-personal-info .info .nickname-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top
}

.oim-main-personal-info .info .msg {
    color: #989898;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    height: 1.5em
}

.oim-main-personal-info .ext {
    float: right;
    color: #6b6f7c;
    font-size: 13px;
    text-align: right;
}

.oim-main-personal-info .ext .attr {
    height: 19px;
    line-height: 1.5;
    font-size: 18px;
    cursor: pointer;
}


.oim-main-personal {

    padding: 18px;
    position: relative;
    display: block;

    .avatar {
        display: table-cell;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: break-all;
        white-space: nowrap;
        padding-right: 10.625px
    }

    .avatar .img {
        width: 40px;
        height: 40px;
        /*border-radius: 2px;*/
        /*-moz-border-radius: 2px;*/
        /*-webkit-border-radius: 2px;*/

        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        display: block;
        cursor: pointer
    }

    .info {
        display: table-cell;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: break-all;
        width: 2000px;
    }

    .display-name {
        display: inline-block;
        font-weight: 400;
        width: 156px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        color: #392f2f;
        font-size: 18px;
        vertical-align: top;
        line-height: 31px;
        text-decoration: none
    }

    .info .nickname .display-name .emoji {
        vertical-align: -4px
    }

    .info .nickname .option {
        display: inline-block;
        vertical-align: top
    }

    .option {
        font-size: 18px;
        color: #7c8690;
    }

    .info .signature {
        color: #989898;
        font-size: 13px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        height: 1.5em;
    }
}

.oim-main-list-pane {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0
}


.oim-main-container-pane {
    position: relative;
    /*background-color: #f5f9fd;*/
    height: 100%;
    overflow: hidden;
}


.oim-content-pane {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 30px;


    .title-wrap {
        position: relative;
        padding: 10px 0;
        margin: 0 19px;
        border-bottom: 1px solid #d6d6d6;
        /*background-color: #f5f9fd;*/
        z-index: 1024
    }

    .title {
        font-weight: 400;
        height: 25px;
        display: inline-block;
        font-size: 14px
    }

    .title .title_name {
        display: inline-block;
        vertical-align: middle;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        text-decoration: none;
        color: #000;
        font-weight: 400
    }

    .title .title_name .emoji {
        margin-top: 5px
    }

    .title.poi {
        cursor: pointer
    }

    .ext {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 50px;
        padding: 0 20px;
        z-index: 2048;
        margin-top: 20px;
    }

    .ext a {
        text-decoration: none;
        color: #333
    }
}

.oim-content-card {
    background-color: #ffffff;
}


.oim-chat-pane {
    width: 100%;
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;

    .q-splitter {
        height: 100%;
    }
}
