// It's highly recommended to change the default colors
// to match your app's branding.

//$oim-main-theme-color: #4caf50;
$oim-main-theme-color: #6677fb;
$oim-main-background-color: #ffffff;
$oim-main-tab-color: $oim-main-theme-color;
$oim-component-body-color: #42ac3e;
$oim-component-text-color: #ffffff;
