body, html {
    height: 100%
}

body {
    font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    /*background: url(../images/element/2zrdI1g.jpg) no-repeat 50%;*/
    /*background-size: cover*/
}

.login {
    height: 100%;
    margin: 0 auto;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*overflow: hidden;*/
    background: url(../images/element/2zrdI1g.jpg) no-repeat 50%;
    background-size: cover;
}

.login-box {
    width: 400px;
    height: 500px;
    padding: 35px;
    color: #EEE;
    position: absolute;
    left: 50%;
    top: 45%;
    /*    margin-left: -200px;
        margin-top: -250px;*/
    margin-left: -235px;
    margin-top: -175px;
}
.logon-info {
    width: 100%;
    min-height: 450px;
    padding-top: 35px;
    position: relative;
}


.login-box h3 {
    text-align: center;
    height: 20px;
    font: 20px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;
    color: #898989;
    height: 20px;
    line-height: 20px;
    padding: 0 0 35px 0;
}




.login-input {

}




.login .copyright {
    position: absolute;
    bottom: 60px;
    right: 60px;
    color: #d3d3d3;
    font-size: 12px;
}

.login-register {
    margin-top: 10px;
    width: 50%;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
}

.login-forget {
    width: 50%;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
}
