/*网站基本定义*/
div, form, img, ul, ol, li, dl, dt, dd, p, tr, td, input, body, strong, span, pre {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    border: 0px;
}

ul, li {
    list-style: none;
}

em, i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #666;
}

.del_float {
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
}

a, area {
    blr: expression(this.onFocus=this.blur());
}

* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    height: auto;
    clear: both;
    color: #666;
    background: #fff;
    background-size: cover;
    word-break: normal;
    word-wrap: break-word;
}

.item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.item {
    *zoom: 1;
}

/*网站基本定义*/
.message {
    padding: 6px 15px;
    width: 100%;
    overflow: hidden;
}

.message p.time {
    text-align: center;
    margin-bottom: 12px;
}

.message p.time i {
    display: inline-block;
    background: #dadada;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 2px;
}

.message a.more {
    color: #1d86fb;
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 12px;
}

.message p.line {
    text-align: center;
    color: #d0d0d0;
    font-size: 12px;
    margin-bottom: 8px;
}

.message dl {
    margin-bottom: 15px;
}

.message dl dt {
    float: left;
    width: 35px;
}

.message dl dt img {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.message dl dd {
    float: left;
    margin-left: 9px;
    width: calc(100% - 44px);
    width: -moz-calc() calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
}

.message dl dd div.content {
    border: 1px #ededed solid;
    padding: 10px;
    padding: 7px 10px;
    border-radius: 2px;
    display: inline-block;
    color: #333;
    word-break: break-all;
    position: relative;
}

.message dl dd div.content img {
    max-width: 100%;
}

.message dl dd div.content i.arrow {
    display: block;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: 12px;
}

.message dl dd span.name {
    font-size: 12px;
    color: #adadad;
    margin-bottom: 2px;
    display: block;
    margin-top: -8px;
}

/******left********/

.message dl.left dt {

}

.message dl.left dd {
    float: left;
    margin-left: 9px;
}

.message dl.left dd div.content {
    background: rgba(232, 232, 232, 0.60);
}

.message dl.left dd div.content i.arrow {
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #eee;
}

.message dl.left dd span.name {

}

/******right********/

.message dl.right dt {
    float: right;
}

.message dl.right dd {
    float: right;
    margin-left: 0;
    margin-right: 9px;
}

.message dl.right dd div.content {
    background: #9eea6a;
    color: #000;
    border: 1px #9eea6a solid;
    float: right;
}

.message dl.right dd div.content i.arrow {
    right: -4px;
    left: auto;

    width: 10px;
    position: absolute;
    top: 9px;
    border: 6px solid transparent;
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #b2e281;
}

.message dl.right dd span.name {
    text-align: right;
}
