<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>OIM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/chat.css">
        <link rel="stylesheet" href="css/face.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <div class="main">
            <div class="main_inner" >

                <div class="sidebar">
                    <div class="sidebar-tab">
                        <ul>
                            <li id="chat_tab">
                                <div class="wrap">
                                    <img class="sidebar-tab-icon" height="36" width="36" alt="消息列表" src="images/main/tab/message_selected.png" />
                                    <div id="chat_tab_red" ></div>
                                </div>
                            </li>
                            <li id="user_tab">
                                <div class="wrap">
                                    <img class="sidebar-tab-icon" height="36" width="36" alt="通讯录" src="images/main/tab/user_normal.png" />
                                </div>
                            </li>
                            <li id="more_tab">
                                <div class="wrap">
                                    <img class="sidebar-tab-icon" height="36" width="36" alt="应用列表" src="images/main/tab/group_normal.png"/>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-tab-more" id="tab-more" >
                        <a id="bottom_menu" href="javascript:void(0);">
                            <img src="images/main/tab/button_menu.png" alt=""/>
                        </a>
                    </div>
                </div>

                <!--begin panel-->
                <div class="panel">
                    <!--begin header-->
                    <div class="header">
                        <div class="avatar">
                            <img class="img" src="images/common/head/user/1.png" alt="" >
                        </div>
                        <div class="info">
                            <h3 class="nickname">
                                <span class="display_name">忧郁de星辰</span>
                                <a class="opt" href="javascript:;" ><i class="oim_chat_add"></i></a>
                            </h3>
                        </div>
                    </div>
                    <!--end header-->
                    <!--begin search-->
                    <div class="search_bar" id="search_bar">
                        <i class="oim_chat_search"></i>
                        <input class="frm_search" type="text" placeholder="搜索">
                    </div>
                    <!--end search-->
                    <!--begin tab-->
                    <div class="tab" style="padding-bottom: 16px;">

                    </div>
                    <!--end tab-->

                    <!--begin nav view-->
                    <!-- uiView: navView -->


                    <div class="nav_view"  style="visibility: visible; width: auto;">

                        <div style="overflow-y:auto" class="scroll-wrapper chat_list scrollbar" >
                            <div  class="">
                                <div class="chat_item slide-left active">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                        <p class="attr" >
                                            <i class="oim_chat_no-remind oim_chat_no-remind_hl" ></i>
                                        </p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div><div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  class="">
                                <div class="chat_item slide-left">
                                    <div class="ext">
                                        <p class="attr ">13:46</p>
                                    </div>
                                    <div class="avatar">
                                        <img class="img" src="images/common/head/user/2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text" >陈娅楠</span>
                                        </h3>
                                        <p class="" >
                                            <span  class="msg">感觉有点闷热</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--end nav view-->
                </div>
                <!--end panel-->
                <!--begin chat-->
                <!-- uiView: contentView -->
                <div  style="height:100%;" class="">
                    <div id="chatArea" class="box chat">

                        <!--begin HD-->
                        <div class="box_hd">
                            <!--<a class="ext oim_chat_add_friend" href="javascript:;" ng-click="showChatRoomMembers($event)" ng-show="currentContact.isRoomContact()" title="成员"></a>-->
                            <!--<a class="ext oim_chat_add_friend" href="javascript:;" ng-click="showProfile($event)" ng-show="!currentContact.isRoomContact()" title="Profile"></a>-->
                            <div id="chatRoomMembersWrap"></div>
                            <div class="title_wrap">
                                <div class="title poi" >
                                    <a class="title_name " data-username="" ></a>
                                    <!-- ngIf: currentContact.MemberList.length -->
                                    <i class="oim_chat_down_icon ng-hide" ></i>
                                </div>
                            </div>
                        </div>
                        <!--end HD-->
                        <!--begin BD-->
                        <div class="scroll-wrapper box_bd chat_bd scrollbar-dynamic" style="position: absolute;">
                            <div class="box_bd chat_bd scrollbar-dynamic scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 369px;">
                                <div  class="message_empty ">
                                    <i class="oim_chat_nomes_icon" ></i>
                                    <p class="ng-hide">暂时没有新消息</p>
                                    <p class="">未选择聊天</p>
                                </div>
                            </div>
                        </div>
                        <!--end BD-->
                        <!--begin FT-->
                        <div class="box_ft  ng-hide" >
                            <div class="toolbar" id="tool_bar">
                                <a class="oim_chat_face" href="javascript:;" title="表情"></a>
                                <a class="oim_chat_screencut "  href="javascript:;" title="截屏"></a>
                                <a class="oim_chat_pic js_fileupload  webuploader-container"  title="图片和文件">
                                    <div class="webuploader-pick"></div>
                                    <div id="rt_rt_1c39vaq8v1jb81kac8rs1qeldfe1" style="position: absolute; top: 0px; left: 0px; width: 30px; height: 30px; overflow: hidden; bottom: auto; right: auto;">
                                        <input type="file" name="file" class="webuploader-element-invisible" >
                                        <label style="opacity:0;width:100%;height:100%;display:block;cursor:pointer;background:rgb(255, 255, 255);"></label>
                                    </div>
                                </a>
                            </div>
                            <div class="content " >
                                <pre id="editArea" contenteditable-directive="" mm-paste="" class="flex edit_area   " contenteditable="true" ng-blur="editAreaBlur($event)" ng-model="editAreaCtn" ng-click="editAreaClick($event)" ng-keyup="editAreaKeyup($event)" ng-keydown="editAreaKeydown($event)"></pre>
                                <span class="caret_pos_helper" id="caretPosHelper"></span>
                            </div>

                            <div class="action">
                                <span class="desc ">按下Shift+Enter换行</span>
                                <a class="oim_button oim_button_send" href="javascript:;" ng-click="sendTextMessage()">发送</a>
                            </div>
                        </div>
                        <!--end FT-->
                        <div id="J_CatchDrop" class="catch-drop-area"></div>
                    </div>
                </div>
                <!--end chat-->
            </div>
            <p class="copyright">
                <span>© 1998 - 2018 OIM Inc. All Rights Reserved</span>
                <span class="sep"></span>
                <a href="http://www.oimchat.com" target="_blank">帮助</a>
            </p>
        </div>
    </body>
</html>
