.always_used_div table td{
    height:100%;
}
.always_used_div .item_div{
    height: 170px;
    text-align: center;
    font-size:17px;
    margin:0 5px;
    background:#f7f7f7;
}
.item_div :hover{
    box-shadow:0 10px 10px rgba(175, 179, 179, 0.5);
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=5);/*for ie6,7,8*/
    background-color: rgba(175, 179, 179, 0.5);
    -moz-box-shadow:0px 10px 10px rgba(175, 179, 179, 0.5);/*firefox*/
    -webkit-box-shadow:0px 10px 10px rgba(175, 179, 179, 0.5);/*webkit*/
}

.pointer{
    cursor:pointer;
}
.always_used_div .img_div{
    height:118px;
    line-height:67px;

}

.item_div .op_name{
    width:102px;
    text-align:center;
    margin:auto;
    overflow: hidden;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}