
.login {
    display: none;
    height: 100%;
    min-width: 860px;
    min-height: 700px;
    overflow: auto;
    position: relative
}

.login .copyright {
    position: absolute;
    bottom: 60px;
    right: 60px;
    color: #d3d3d3;
    font-size: 12px
}

.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -270px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    width: 380px;
    height: 540px;
    box-shadow: 0 2px 10px #999;
    -moz-box-shadow: #999 0 2px 10px;
    -webkit-box-shadow: #999 0 2px 10px
}

.login_box .qrcode {
    position: relative;
    text-align: center
}

.login_box .qrcode.hide {
    display: none
}

.login_box .qrcode .img {
    display: block;
    width: 270px;
    height: 270px;
    margin: 42px auto 12px
}

.login_box .qrcode .img.qrcode_expired {
    opacity: .1
}

.login_box .qrcode .sub_title {
    text-align: center;
    font-size: 20px;
    color: #353535;
    margin-bottom: 23px
}

.login_box .qrcode .sub_desc {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    padding: 0 40px;
    line-height: 1.8
}

.login_box .qrcode .sub_desc a {
    text-decoration: none;
    color: #576b95
}

.login_box .qrcode .refresh_qrcode_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 270px
}

.login_box .qrcode .refresh_qrcode_mask .icon-refresh {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48px;
    margin-top: -48px;
    cursor: pointer
}

.login_box .qrcode .refresh_tips {
    color: #353535
}

.login_box .qrcode .extension {
    margin-top: 40px;
    display: inline-block;
    text-align: left
}

.login_box .qrcode .extension .icon {
    float: left;
    margin-right: 20px;
    margin-top: 4px
}

.login_box .qrcode .extension .item {
    margin-bottom: 30px
}

.login_box .qrcode .extension .cont {
    overflow: hidden
}

.login_box .qrcode .extension .title {
    font-weight: 400;
    font-size: 14px;
    color: #353535
}

.login_box .qrcode .extension .desc {
    font-size: 12px;
    color: #353535
}

.login_box .qrcode .extension .desc a {
    text-decoration: none;
    color: #459ae9
}

.login_box .avatar {
    display: none;
    text-align: center;
    margin-top: 85px
}

.login_box .avatar.show {
    display: block
}

.login_box .avatar .img {
    width: 160px;
    height: 160px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, .1)
}

.login_box .avatar .sub_title {
    font-size: 13px;
    color: #353535;
    margin-bottom: 14px;
    font-weight: 400
}

.login_box .avatar .sub_desc {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    line-height: 1.8;
    padding: 12px 40px 0
}

.login_box .avatar .sub_desc a {
    text-decoration: none;
    color: #576b95
}

.login_box .avatar .action {
    display: block;
    margin: 60px 80px auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 2.55555556;
    border-radius: 6px;
    color: #000;
    width: 220px;
    border: 1px solid rgba(0, 0, 0, .2)
}

.login_box .association {
    display: none;
    text-align: center
}

.login_box .association.show {
    display: block
}

.login_box .association .img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 85px auto 5px;
    border-radius: 4px
}

.login_box .association .waiting_confirm {
    width: 276px;
    margin: 60px auto 30px
}

.login_box .association .button, .login_box .association .waiting_confirm {
    display: block;
    text-decoration: none;
    line-height: 2.55555556;
    border-radius: 4px
}

.login_box .association .button {
    width: 220px;
    margin: 30px auto 20px
}

.login_box .association .button.button_primary {
    color: #fff;
    border: 1px solid #1aad19;
    background-color: #1aad19;
    margin-top: 40px
}

.login_box .association .button.button_primary:active {
    background-color: #179b16;
    color: hsla(0, 0%, 100%, .6)
}

.login_box .association .button.button_default {
    color: #000;
    border: 1px solid rgba(0, 0, 0, .2)
}

.login_box .association .button.button_default:active {
    color: rgba(0, 0, 0, .6);
    background-color: #dedede
}

.login_box .association .sub_desc {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    line-height: 1.8;
    padding: 0 40px
}

.login_box .association .sub_desc a {
    text-decoration: none;
    color: #576b95
}

.login_box .broken_network {
    display: none
}

.login_box .broken_network.show {
    display: block
}

.login_box .broken_network .icon-broken-logo {
    display: block;
    margin: 120px auto
}

.login_box .broken_network .sub_title {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #353535;
    margin-bottom: 20px
}

.login_box .broken_network .sub_desc {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    line-height: 1.8;
    padding: 12px 40px 0
}

.login_box .broken_network .sub_desc a {
    text-decoration: none;
    color: #576b95
}

.rotateLoading {
    animation: c ease 1s
}

@keyframes c {
    0% {
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(2turn)
    }
}
