html, body {
    margin: 0;
    padding: 6px;
    width: 100%;
    height: 100%;
}

body {
    perspective: 800px;
    -webkit-user-select: none;
}

a,
button,
input,
select,
textarea,
fieldset,
legend,
dd,
dl,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul,
li,
img,
audio,
canvas,
video,
svg,
figure,
pre {
    -webkit-app-region: no-drag;
}

.scroll-wrapper {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar-track {
    -webkit-app-region: no-drag;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.table-cell {
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
